Package: am.theiostre.searchloader
Name: SearchLoader
Depends: mobilesubstrate, preferenceloader (>= 2.2.0)
Version: 2.3
Architecture: iphoneos-arm
Description: loads search bundles in style
Maintainer: theiostream <q@theiostream.com>
Author: theiostream <q@theiostream.com>
Section: Tweaks
