<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Collapse</string>
			<key>footerText</key>
			<string>These preferences apply only for the Collapse tweak from Spotlight+.</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false />
			<key>defaults</key>
			<string>am.theiostre.spotlightplus.extension</string>
			<key>key</key>
			<string>CollapseDefault</string>
			<key>label</key>
			<string>Collapse by Default</string>
			<key>PostNotification</key>
			<string>am.theiostre.spotlightplus.extension.notification</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false />
			<key>defaults</key>
			<string>am.theiostre.spotlightplus.extension</string>
			<key>key</key>
			<string>CollapseOne</string>
			<key>label</key>
			<string>Collapse One-Result Sections</string>
			<key>PostNotification</key>
			<string>am.theiostre.spotlightplus.extension.notification</string>
		</dict>
	</array>

	<key>title</key>
	<string>SpotlightUI</string>
</dict>
</plist>
